*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

.first-header{
    padding: 20px;
    align-items: center;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.translate{
    margin-left: 10px;
}
.flex{
    display: flex;
}
.name{
    font-size: 1.2rem;
}
.name span:not(:last-child){
    letter-spacing: -5px;
}
.dropdown{
    margin-right: 20px;
    background: none;
    border: none;
}
 i{
    font-size: 1.2rem;
    cursor: pointer;
}

.w-25{
    width: 25%;
}
ul li a{
    text-decoration: none;
}
.about-header{
    margin: 25px 0;
}

ul li{
    padding: 5px 15px;
    margin-top: 15px;
    cursor: pointer;
    text-align: left;
}
.dropdown-toggle{
    position: absolute;
    text-align: center;
    z-index: 100;
    top: 0;
    left: 0;
    padding-top:20px;
    background-color: #fff;
    height: 100vh;
    transform:translateX(-100%);
    width: 45%;
    transition: all 0.5s;
}
.active{
    transform: none;
}
.links{
    width: 75%;
    margin: 0 auto;
    text-align: left;
}
.translate-side{
    margin-top: 50px;
}
.translation{
    width: 100%;
    justify-content: center;
}
select{
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
}

textarea{
    width: 100%;
    font-size: 1.2rem;
    height: 50%;
    resize: none;
}
@media screen and (min-width:768px){
    .dropdown-toggle{
        width: 35%;
    }
    .dropdown i{
        font-size: 1.3rem;
    }
    .name{
        font-size: 1.5rem;
    }
}
@media screen and (min-width:992px){
    .dropdown-toggle{
        width: 25%;
    } 
}
.translation ~button{
    position: absolute;
    top: 60%;
    right: 0;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.5s;
}

.relative{
    position: relative;
}


